#joystick {
  box-sizing: border-box;
  position: fixed;
  left: 75px;
  bottom: 25px;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 126px;
  height: 126px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

#knob {
  position: fixed;
  width: 53px;
  height: 53px;
  transform: translate(36.5px, 36.5px); /* (joystick.width - knob.width) / 2 */
  border-radius: 40px;
  background-color: rgba(124, 124, 124, 0.5);
  z-index: 310;
  pointer-events: none;
}

#trackingknob {
  position: fixed;
  transform: translate(0px, 0px);
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.2);
  z-index: 301;
}

@media (max-width: 600px), (max-height: 600px) {
  #trackingknob {
    width: 82px;
    height: 82px;
  }

  #joystick {
    bottom: 40px;
    width: 85px;
    height: 85px;
  }

  #knob {
    width: 40px;
    height: 40px;
    transform: translate(22.5px, 22.5px); /* (joystick.width - knob.width) / 2 */
  }
}

@media (min-width: 601px) {
  #joystick {
    bottom: 45px;
  }
  #directions {
    left: 20px;
    top: 20px;
  }

  #knob {
    transform: translate(35px, 35px);
  }
}

@media (max-height: 600px) {
  #joystick {
    bottom: 45px;
  }
}

@media (max-width: 1899px) {
  #directions {
    position: fixed;
    width: 85px;
    height: 85px;
    /* background-color: rgba(179, 16, 16, 0.5); */
    pointer-events: none;
    transform: rotate(45deg);
    color: white;
  }
}

@media (min-width: 1900px) {
  #trackingknob {
    width: 135px;
    height: 135px;
  }

  #joystick {
    bottom: 65px;
    width: 140px;
    height: 140px;
  }

  #directions {
    position: fixed;
    left: 27px;
    top: 26px;
    width: 85px;
    height: 85px;
    /* background-color: rgba(179, 16, 16, 0.5); */
    pointer-events: none;
    transform: rotate(45deg);
    color: white;
  }

  #knob {
    width: 68px;
    height: 68px;
    transform: translate(36px, 36px); /* (joystick.width - knob.width) / 2 */
  }
}

.joystick-arrow {
  position: fixed;
  z-index: 400;
  font-size: 8px;
}

.joystick-arrow.top {
  transform: rotate(-45deg);
  left: 2px;
  top: 2px;
}

.joystick-arrow.left {
  left: 2px;
  top: 74px;
  transform: rotate(-135deg);
}

.joystick-arrow.bottom {
  transform: rotate(135deg);
  left: 75px;
  top: 75px;
}

.joystick-arrow.right {
  left: 74px;
  top: 3px;
  transform: rotate(45deg);
}
