@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  overscroll-behavior: none;
  overflow: hidden;
  touch-action: none;
  height: 100%;
}

body.tilt {
  perspective: 2000px;
  perspective-origin: 50% 50%;
  background: repeating-conic-gradient(#eee 0% 25%, #fff 0% 50%) 50% / 20px 20px;
}

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  transition: transform 0.5s ease-in-out;
}

body.tilt > iframe {
  --tilt-z: 0px;
  transform: rotateX(80deg) translate3d(0px, -400px, var(--tilt-z));
  border: #000 solid;
  border-width: 20px 4px 10px 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

#hud {
  display: none;
}

#hud.primary-frame {
  display: block;
}

#shell-hud {
  display: none;
}

#shell-hud.is-shell {
  display: block;
}

#info {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  /* TODO Solve this in HTML */
}

.info-text {
  color: #fff;
  z-index: 200;
  text-shadow: 2px 2px #000000;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.bttn {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  z-index: 200;
  border-radius: 30%;
  color: white;
  width: 1.8em;
  height: 1.8em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bttn:hover {
  background-color: #80808080;
}

#homeBttn {
  bottom: 65px;
  right: 10px;
  transform: translate(0, -50%);
}

#usersComeHereBttn {
  bottom: 0px;
  right: 10px;
  transform: translate(0, -50%);
}

#fullscreenBttn {
  right: 10px;
  bottom: 158px;
}

#worldMenuBttn {
  top: 10px;
  left: 10px;
}

#editModeBttn {
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  display: none;
}

#editModeBttn[mobile="true"] {
  display: flex;
}

#editModeBttn[pressed="true"] {
  background-color: #80808080;
}

#editModeBttn[pressed="false"] {
  background-color: #d3d3d380;
}

#ghostSlider {
  z-index: 200;
  position: fixed;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  top: 20px;
  display: none;
}

.no-pointer-events {
  pointer-events: none;
}

.worldMenu {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 200;
  display: none;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid white;
  color: white;
}

.menuVisible {
  display: block;
}

.statsHidden {
  display: none;
}

.menu-qr {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

#qrDiv {
  width: 90%;
}

/* .menu-item {
    border-radius: 10px;
    margin-top: 5px;
} */

.menu-item::first-child {
  margin-top: 0px;
}

.menu-label {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}

.menu-label:hover {
  opacity: 0.7;
}

.menu-label-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-left: 12px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

#worldMenu-settings {
  border-top: 1px solid black;
}

.connect-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFpSURBVHgBpZQNcYQwEIVDFSABB8UB1AEOwAE4AAdIQAISggMkkCpAwnZfjm1zTErI3c7sAAn78bI/KHUYEZXsmn2nOFvZa3U2XhzofQM8FWAjq33fU5qmhOW7XhQFbdsmiFGgGk9t20bBXM+yTKC7VStPIYXYx4enaaK6ri3I3V/XVVD5LzSkxAmyhiO7YK21bBW3oBIAENRKDsdxfA1alqWFQKkokxxi3Qf9UP8YByp+0Tru8zxXTdPYPbkaY/zBPqVQIkfc953meX40Iqsdhr+WRsFuH1+AuKLaMICdQNvTvrx7oXy0p+p2XUdnOwODUFHmDgNUIg2oNiboqkO8UMAkf1ycpxxeDcglFIHOLF8e+TZUqo80QC1erqoqOP9nqJWFJg8FqosxRs4PywDt3WrHApEu6WM2jd5P6PFjxUOOhWVZVIxh0hiMW8P+lSSJsRsAs0/0uml77MMS96uH6k8VZ4bVfbsLPzkKn8JsA7d/AAAAAElFTkSuQmCC");
}

.connected-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjE4LjI3MzQiIGhlaWdodD0iMTguMjczNCIgcng9IjQiIGZpbGw9IiMyOEE3NDUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNiAxMEw5IDEzTDE0IDciIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
}

.save-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE3SURBVHgB5ZThcYMwDIUF1//1BvUIdAJgEtiAEegGjFCYgBHMBmUD6ASwgatHox44zdlJLr/y7t5xCPtDEjJEJ1lrM7ZhL/Y6fbELcsXBD3u/AFcCLCVa17VVSlmExYiJjDGHZ1hblqWdpukPIVCDu6qqDhtCoOIkSWQJWqdiDmaAd11Ht2ocx80slK9jebCuK92j3f7XmB6gJ4eSzALtRiTLsm324GU5HjCJF0Vx2INxOyn9F0rOfLrq+/5sfRAUbprmDIgs3VN3FdRZvAG11r51fiiykt5eArrQF/IIJyXPc0rTlOZ5piChKuDxxS9l4TOq2U2JBrT29csHbNtWgAaJRvb3x4qbBIFhGILLZCBxhdsVnWK/R1E0SwsU+9PeLsNO5GWR01/Nlze2pjAhu5Gz+94HfwBQh5VNntZydwAAAABJRU5ErkJggg==");
}

.share-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMS4zNjMyOCIgeT0iMS4xMDE1NiIgd2lkdGg9IjE4LjI3MzQiIGhlaWdodD0iMTguMjczNCIgcng9IjQiIGZpbGw9ImJsYWNrIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTkuNDcxNjMgNy42MDg0NlY0LjgxNDQ1TDYuNDMyOTUgNy44NTMxM0wzLjk5NjU4IDEwLjI4OTVMNi40NzYyIDEyLjM1Nkw5LjQ3MTYzIDE0Ljg1MjRWMTIuMTE4NEMxNC43MzA0IDExLjcyMiAxNi41NzI5IDE0Ljc2NTIgMTYuNTcyOSAxNC43NjUyQzE2LjU3MjkgMTIuODY5MiAxNi40MTY2IDEwLjkwMTUgMTQuOTI2IDkuNDExNTNDMTMuMTkzMyA3LjY3ODE5IDEwLjY4NCA3LjU1NTUzIDkuNDcxNjMgNy42MDg0NloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
}

.help-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuNSIgY3k9IjExLjU0ODgiIHI9IjkuODEyNSIgZmlsbD0iYmxhY2siIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNMTEuODEyOSA1LjQ2NjhDMTIuOTQzOCA1LjQ2NjggMTMuODQ3MyA1Ljc4NTcgMTQuNTIzNiA2LjQyMzUyQzE1LjIxMSA3LjA2MTM0IDE1LjU1NDcgNy45MzI2NCAxNS41NTQ3IDkuMDM3NDNDMTUuNTU0NyAxMC4xODc4IDE1LjE5OTkgMTEuMDUzNCAxNC40OTA0IDExLjYzNDJDMTMuNzgwOCAxMi4yMTUxIDEyLjgzODUgMTIuNTA1NiAxMS42NjMzIDEyLjUwNTZMMTEuNTk2OCAxMy44NTUySDkuOTUwMzlMOS44NjcyNCAxMS4xNzNIMTAuNDE2QzExLjQ5MTQgMTEuMTczIDEyLjMxMTggMTEuMDI0OSAxMi44NzczIDEwLjcyODhDMTMuNDUzOCAxMC40MzI2IDEzLjc0MiA5Ljg2ODg3IDEzLjc0MiA5LjAzNzQzQzEzLjc0MiA4LjQzMzc4IDEzLjU3MDIgNy45NjExMSAxMy4yMjY1IDcuNjE5NDNDMTIuODkzOSA3LjI3Nzc0IDEyLjQyODMgNy4xMDY5IDExLjgyOTYgNy4xMDY5QzExLjIzMDkgNy4xMDY5IDEwLjc1OTcgNy4yNzIwNCAxMC40MTYgNy42MDIzNEMxMC4wNzIzIDcuOTMyNjQgOS45MDA1IDguMzkzOTIgOS45MDA1IDguOTg2MTdIOC4xMjEwOUM4LjEyMTA5IDguMzAyOCA4LjI3MDc2IDcuNjkzNDYgOC41NzAxIDcuMTU4MTVDOC44Njk0NCA2LjYyMjg0IDkuMjk2MjggNi4yMDcxMiA5Ljg1MDYxIDUuOTEwOTlDMTAuNDE2IDUuNjE0ODYgMTEuMDcwMSA1LjQ2NjggMTEuODEyOSA1LjQ2NjhaTTEwLjc0ODYgMTcuNjMwOUMxMC40MDQ5IDE3LjYzMDkgMTAuMTE2NyAxNy41MTEzIDkuODgzODcgMTcuMjcyMUM5LjY1MTA1IDE3LjAzMjkgOS41MzQ2NCAxNi43MzY4IDkuNTM0NjQgMTYuMzgzN0M5LjUzNDY0IDE2LjAzMDYgOS42NTEwNSAxNS43MzQ1IDkuODgzODcgMTUuNDk1M0MxMC4xMTY3IDE1LjI1NjEgMTAuNDA0OSAxNS4xMzY1IDEwLjc0ODYgMTUuMTM2NUMxMS4wODEyIDE1LjEzNjUgMTEuMzYzOSAxNS4yNTYxIDExLjU5NjggMTUuNDk1M0MxMS44Mjk2IDE1LjczNDUgMTEuOTQ2IDE2LjAzMDYgMTEuOTQ2IDE2LjM4MzdDMTEuOTQ2IDE2LjczNjggMTEuODI5NiAxNy4wMzI5IDExLjU5NjggMTcuMjcyMUMxMS4zNjM5IDE3LjUxMTMgMTEuMDgxMiAxNy42MzA5IDEwLjc0ODYgMTcuNjMwOVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
}

.load-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEySURBVHgB7ZRtkYQwDIbDGgAJODgcwCkACTgAB5wDcABOigNwQFcBOMglXcL0Ptpbdmf/3TvzDhDgSdqmBdiFiBlZkVc8p4lcw3dR8AOfF8MjAZYSbZoGoyhCDt/rNE1xWRZBtAJV/FRV1SmY7TiOBbqaauXJV2FRFNi2rRc8TZOgkgPqq2Jdb2tX17XzO6WUoFIvlIHWfBllWfYc1BrSIa6ak/mgF3Co6zpIkuRHnOYeCAAEdv0Kv0IZFoYhDMMA4zgeca31Ecvz3An9c6HK8mhjM0S4Y6Eu8AL9Q18D1XxDOwUeFfes1dNXhg581/e9t6Fd4s1Ah425ksYgCHSAt4NVkU0qu9mlCkm2bRvM8/zlPVe4AzX5naHmBYPJPT4uRY4lUWBn3at+g3PSVN3VDnwC0+MmBjuORN4AAAAASUVORK5CYII=");
}

.fullscreen-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFASURBVHgBtZQBcYQwEEVDFUQCDhoHUAc4AAfUAThAAjhAQnCABKgCJGz3p+xNjlzb5Dr9MzskP8xjk12i1CkiKjksx0FpWjne1VVs9vR3Aa4F2IjbdR1prQl2bBRFQdu2CWIQqMWsbdskmB95ngv0cNnKTDK8rR4HGWMCQNM0d3sWf11XsYy6LorGcfw2s3meA6i1VqwigCLDYRic1/d9AIQHCTgKKltG0dxevCMoy/JWUDmKKKgfj84U1X70bjQ0JXzoi/oH/QjlM4zyAl23X9e1e07TFBSqqqq7roguFCQvSJX9kI8ltZQIvap+L0oaNPU3vUI3jNDY6sl2woWCJE7lgHYY4frCYioQF5F3F1gUP6OvixUTA2NZFpUiPiLFYAx3jrcsy3ZpK80x0vOybtunMv+rZ9avKk07Z/fhG59S+E8+5qU6aAAAAABJRU5ErkJggg==");
}

.settings-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjE4LjI3MzQiIGhlaWdodD0iMTguMjczNCIgcng9IjQiIGZpbGw9ImJsYWNrIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTQuNzExOTEgMTEuOTM1OEw1LjgzNTQ3IDEzLjgzODhDNS45MTAwNiAxMy45NjUgNi4wMzI4IDE0LjA1NzEgNi4xNzY3MSAxNC4wOTQ3QzYuMzIwNjEgMTQuMTMyMyA2LjQ3MzkgMTQuMTEyNSA2LjYwMjg2IDE0LjAzOTVMNy4zODcxIDEzLjU5NjJDNy43MTI5NCAxMy44NDc2IDguMDczMDQgMTQuMDUzOCA4LjQ1MTY4IDE0LjIwNzhWMTUuMDg2N0M4LjQ1MTY4IDE1LjIzMjYgOC41MTA4NiAxNS4zNzI1IDguNjE2MjIgMTUuNDc1NkM4LjcyMTU3IDE1LjU3ODggOC44NjQ0NiAxNS42MzY3IDkuMDEzNDYgMTUuNjM2N0gxMS4yNjA2QzExLjQwOTYgMTUuNjM2NyAxMS41NTI1IDE1LjU3ODggMTEuNjU3OCAxNS40NzU2QzExLjc2MzIgMTUuMzcyNSAxMS44MjI0IDE1LjIzMjYgMTEuODIyNCAxNS4wODY3VjE0LjIwNzhDMTIuMjA0IDE0LjA1MjMgMTIuNTYyMSAxMy44NDY1IDEyLjg4NjkgMTMuNTk2MkwxMy42NzEyIDE0LjAzOTVDMTMuOTM5MSAxNC4xOTA4IDE0LjI4NDEgMTQuMSAxNC40Mzg2IDEzLjgzODhMMTUuNTYyMSAxMS45MzU4QzE1LjYzNjEgMTEuODA5NCAxNS42NTYgMTEuNjU5NSAxNS42MTc2IDExLjUxODhDMTUuNTc5MiAxMS4zNzgxIDE1LjQ4NTYgMTEuMjU3OSAxNS4zNTcxIDExLjE4NDVMMTQuNTg2MyAxMC43NDgzQzE0LjY0NjUgMTAuMzQyNyAxNC42NDYyIDkuOTMwNjQgMTQuNTg1MiA5LjUyNTEyTDE1LjM1NiA5LjA4ODk3QzE1LjYyMzQgOC45Mzc3MiAxNS43MTYxIDguNTk5NDcgMTUuNTYxIDguMzM3NjdMMTQuNDM3NCA2LjQzNDY3QzE0LjM2MjkgNi4zMDg0NCAxNC4yNDAxIDYuMjE2MzkgMTQuMDk2MiA2LjE3ODc0QzEzLjk1MjMgNi4xNDEwOSAxMy43OTkgNi4xNjA5NCAxMy42NzAxIDYuMjMzOTJMMTIuODg1OCA2LjY3NzIyQzEyLjU2MTQgNi40MjY2MyAxMi4yMDM0IDYuMjIwODQgMTEuODIxOCA2LjA2NTYyVjUuMTg2NzJDMTEuODIxOCA1LjA0MDg1IDExLjc2MjYgNC45MDA5NiAxMS42NTczIDQuNzk3ODFDMTEuNTUxOSA0LjY5NDY2IDExLjQwOSA0LjYzNjcyIDExLjI2IDQuNjM2NzJIOS4wMTI5QzguODYzOSA0LjYzNjcyIDguNzIxMDEgNC42OTQ2NiA4LjYxNTY2IDQuNzk3ODFDOC41MTAzIDQuOTAwOTYgOC40NTExMiA1LjA0MDg1IDguNDUxMTIgNS4xODY3MlY2LjA2NTYyQzguMDY5NTEgNi4yMjExNiA3LjcxMTM2IDYuNDI2OTMgNy4zODY1NCA2LjY3NzIyTDYuNjAyODYgNi4yMzM5MkM2LjUzOTAyIDYuMTk3NzEgNi40Njg1MiA2LjE3NDE4IDYuMzk1MzkgNi4xNjQ2OEM2LjMyMjI1IDYuMTU1MTcgNi4yNDc5MiA2LjE1OTg3IDYuMTc2NjUgNi4xNzg1MkM2LjEwNTM3IDYuMTk3MTYgNi4wMzg1NSA2LjIyOTM5IDUuOTgwMDEgNi4yNzMzNEM1LjkyMTQ3IDYuMzE3MjkgNS44NzIzNSA2LjM3MjExIDUuODM1NDcgNi40MzQ2N0w0LjcxMTkxIDguMzM3NjdDNC42Mzc5NyA4LjQ2NDA2IDQuNjE4MDMgOC42MTM5MyA0LjY1NjQ0IDguNzU0NjVDNC42OTQ4NCA4Ljg5NTM3IDQuNzg4NDggOS4wMTU1MyA0LjkxNjk2IDkuMDg4OTdMNS42ODc3MiA5LjUyNTEyQzUuNjI3MTIgOS45MzA2OSA1LjYyNzEyIDEwLjM0MjcgNS42ODc3MiAxMC43NDgzTDQuOTE2OTYgMTEuMTg0NUM0LjY0OTU1IDExLjMzNTcgNC41NTY4NiAxMS42NzQgNC43MTE5MSAxMS45MzU4VjExLjkzNThaTTEwLjEzNjUgNy45MzY3MkMxMS4zNzU3IDcuOTM2NzIgMTIuMzgzNiA4LjkyMzQyIDEyLjM4MzYgMTAuMTM2N0MxMi4zODM2IDExLjM1IDExLjM3NTcgMTIuMzM2NyAxMC4xMzY1IDEyLjMzNjdDOC44OTcxNyAxMi4zMzY3IDcuODg5MzQgMTEuMzUgNy44ODkzNCAxMC4xMzY3QzcuODg5MzQgOC45MjM0MiA4Ljg5NzE3IDcuOTM2NzIgMTAuMTM2NSA3LjkzNjcyWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
}

#userCount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 0px;
}

#userCountReadout {
  position: relative;
  top: -10px;
  font-family: sans-serif;
  font-size: 0.5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#usersComeHereBttn[presenting="true"] {
  background-color: #880000;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.connected {
  color: #28a745;
}
