name: Deploy to Pages

on:
  # Runs on pushes to these branches
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Build microverse
        run: |
          git branch -a
          npm install
          npm run build
          npm run create-version
          echo 'const apiKey = "1rN7t58Mo1ani03Djcl4amvdEAnoitB6g3oNxEDrC";' > dist/apiKey.js
          echo 'const appId = "io.croquet.microverse";' >> dist/apiKey.js
          echo 'export default {apiKey, appId};' >> dist/apiKey.js

      - name: Upload dist
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
